.dashboard {
  padding-top: 60px; /* Adjust the padding to the height of the header */
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.no-items-found {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

.cart {
  margin-top: 20px;
}

.cart-item {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
}
